body
{
    background-color: rgb(246, 246, 255);
    margin: 0%;

}

#back
{ 
    background-image: url(MMU-1024x602.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    padding-top: 20px;
    opacity: 0.86;
    
}


#but
{
    background-color: rgb(0, 26, 52);
    height: 20px;
  

    

}

#titleone
{
    background-color: rgb(255, 185, 94); 
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 5px;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    height: 45px;
    line-height: 3px;
   
  
   
    

}

#smallTitle
{
    background-color: rgb(0, 175, 249); 
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px ;
    display: table;  
    padding-left: 10px;
    padding-right: 8px;

   
   
   
}

#content
{
   
    background-color: rgba(255,255,255,0.8);
    height: 450px;
    margin-left: 20px;
    padding-left: 100px;
    margin-right: 20px;
    


  }





.search-bar
{
   width: 100%;
   max-width: 700px;
   background: rgba(42, 30, 30, 0.612);
   display: flex;
   align-items: center;
   border-radius: 60px;
   padding: 8px 25px;
   backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input
{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 18px 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

::placeholder
{
    color: rgb(209, 207, 207);
}

.search-bar button img
{
    width: 25px;
}

.search-bar button
{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgb(179, 189, 189);
    cursor: pointer;

}

.buttons
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Geneva;
}

.buttons ul li 
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.buttons ul li a
{
    text-decoration: none;
    color: rgb(38, 24, 148);
    text-transform: uppercase;
}

.buttons ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.buttons ul li:hover::after
{
    width: 100%;
}

.logo
{
    cursor: pointer;
    width: 250px;
    height: 80px; 
}

.btn
{
    background-color: #77a9de; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin-top: 24px;
    margin-right: 24px;
    width: 30%;
    cursor: pointer;
    
}

.btn:hover {
  background-color: #000000; 
  color: white;
}

a
{
    text-decoration: none;
    color:rgb(0,0,0);

}        